*{
    background-color: lightblue;
    font-family:'Times New Roman'
}
h1{
    color: red;
    border-bottom: 4px solid blue;
    padding: 10px;
}
h2{
    color: #B808FF;
    padding: 5px;
    border-left: 5px solid blue;
    background-color: azure;
}
p{
    padding-left: 10px;
    padding-right: 50px;
    border-right: 7px solid red;
    border-block-start: 10px;
    text-align: right;
}
.text1{
    color: silver;
    text-decoration: underline;
}
.text2{
    color: silver;
    font-weight: bold;
    font-family:'Arial Narrow'
}
.text3{
    color: silver;
    font-style: italic;
}